{% extends 'base.html.twig' %}

{% block title %}Nouvel véhicule{% endblock %}

{% block body %}
    <div class="example-wrapper card p-3 text-bg-light shadow m-5" style="width:35%; margin-left:30% !important;">
        {{ form_start(form) }}
            <div class="d-flex">
                {{ form_row(form.type) }}
                <div style="margin-left:20px;">
                   {{ form_row(form.categorie) }}
                </div>
                
            </div>    
             
             <div class="d-flex" >
                {{ form_row(form.marque) }}
                 <div style="margin-left:20px;">
                   {{ form_row(form.moteur) }}
                </div>
                
            </div>
            <div class="d-flex">
                {{ form_row(form.prix) }}
                 <div style="margin-left:20px;">
                   {{ form_row(form.place) }}
                </div>
                <div style="margin-left:20px;">
                   {{ form_row(form.proprietaire) }}
                </div>
                
            </div>
             
                {{ form_row(form.image) }}
                {{ form_row(form.image2) }}
             
                {{ form_row(form.image3) }}
                {{ form_row(form.image4) }}
            

            {{ form_rest(form) }}
        {{ form_end(form) }}   
    </div>
{% endblock %}
